@import "./variables";

// .projects-scrollDown {
// 	margin-top: 4rem;
// 	font-size: 0.8rem;
// 	color: #595858;
// 	transition: all 0.5s;
// 	transition-delay: 0.5s;
// 	-webkit-animation: makeItBigger 2s 1s infinite;
// 	animation: makeItBigger 2s 1s infinite;
// }

// .projects-page-container {
// 	flex-wrap: nowrap !important;
// 	flex-direction: column;
// 	justify-content: start;
// }

// .project-container {
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	align-items: center;
// 	padding: 1rem 0.5rem;
// 	background-color: white;
// 	margin: 1.5rem;
// 	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.185);
// 	border-radius: 0.6rem;
// }

// .project-container:nth-child(3) {
// 	margin-top: 4.5rem;
// }

// .project-container:nth-child(8) {
// 	margin-bottom: 5rem;
// }

// .project-title {
// 	font-size: 1.5rem;
// 	padding-bottom: 0.5rem;
// 	font-weight: 500;
// }

// .project-info {
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	flex-direction: row;
// 	flex-wrap: wrap;
// 	width: 75vw;
// }

// .project-img {
// 	width: 50%;
// 	padding: 0.5rem;
// }

// .project-description {
// 	align-self: flex-start;
// 	display: flex;
// 	flex-direction: column;
// 	padding: 0rem 0.5rem;
// 	width: 50%;
// }

// .used-tech {
// 	color: #1abc9c;
// 	font-size: 1.5rem;
// 	margin-right: 0.3rem;
// }

// .about-project-title {
// 	width: 10rem;
// 	font-size: 1.1rem;
// 	border-bottom: 2px solid #1abc9c;
// 	margin: 0.4rem 0rem;
// 	font-weight: 400;
// }

// .main-text-description {
// 	font-size: 0.8rem;
// 	padding: 0.2rem 0rem;
// 	text-align: left;
// 	color: #595858;
// }

// .project-btns {
// 	margin-top: 1rem;
// }







.projects{
    &-page-container {
        display: flex;
        flex-wrap: nowrap !important;
        flex-direction: column;
        justify-content: start;
        font-family: $font-one;
       
    }
    &-scrollDown {
        margin-top: 60px;
        font-size: 1.2rem;
        font-family: $font-one;
        color: $color-white;
        transition: all 0.5s;
        transition-delay: 0.5s;
        -webkit-animation: makeItBigger 2s 1s infinite;
        animation: makeItBigger 2s 1s infinite;
        @include sm{
            font-size: 1.6rem;
        }
    }
}


.project{
    &-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 0.5rem;
        background: $page-bgcolor2;
        color: $color-white;
        margin: 1.5rem;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.185);
        border-radius: 0.6rem;
       
        // &:hover{
        //     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.185);
        // }
    }
    &-title{
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
        font-weight: 600;
        color: $text-color1;
        @include sm {
            font-size: 2.4rem;
        }
    }
    &-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 75vw;
        @include sm{
            width: 80vw;
            // flex-direction: column;
        }
       
    }
    &-img {
        width: 50%;
        padding: 0.5rem;
        @include sm{
            width: 95%;
        }
    }
    &-description {
        color: $color-white;
        font-size: 3rem;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        padding: 0rem 0.5rem;
        width: 50%;
        @include sm{
            width: 90%;
            
        }
    }
    &-btns {
        margin-top: 1rem;
        
    }
}

.used-tech {
	color: $text-color1;
	font-size: 1.5rem;
	margin-right: 0.3rem;
    @include sm {
        font-size: 24px;
        
    }
}

.about-project-title {
	width: 11.3rem;
	font-size: 1.3rem;
	border-bottom: 2px solid $text-color1;
	margin: 0.4rem 0rem;
	font-weight: 400;
    @include sm {
        font-size: 1.8rem;
        width: 16rem;
    }
   
}

.main-text-description {
	font-size: 1.1rem;
	padding: 0.2rem 0rem;
    line-height: 1.6rem;
	text-align: left;
	color: $color-white;
    @include sm {
        font-size: 1.5rem;
        letter-spacing: .1px;
        line-height: 2rem;
        
    }
    img{
        color: $text-color1;
    }
}

@-webkit-keyframes makeItBigger {
	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes makeItBigger {
	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}